<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h2>ONLINE STORE</h2>
<h1>Don't miss our products on sale!</h1>

<figure>
  <a href="/contatos"><img class="card-img-left"  src="https://i.pinimg.com/564x/cb/08/54/cb0854d3b88d836d4db535f6523b4c95.jpg"/></a>
  <a href="/contatos"><img class="card-img-left"  src="https://i.pinimg.com/564x/cb/08/54/cb0854d3b88d836d4db535f6523b4c95.jpg"/></a>
  <a href="/contatos"><img class="card-img-right" src="https://i.pinimg.com/564x/cb/08/54/cb0854d3b88d836d4db535f6523b4c95.jpg"/></a>
  </figure>

   <figure>
    <a href="/contatos"><img class="card-img-left"  src="https://i.pinimg.com/564x/cb/08/54/cb0854d3b88d836d4db535f6523b4c95.jpg"/></a>
    <a href="/contatos"><img class="card-img-left"  src="https://i.pinimg.com/564x/cb/08/54/cb0854d3b88d836d4db535f6523b4c95.jpg"/></a>
    <a href="/contatos"><img class="card-img-right" src="https://i.pinimg.com/564x/cb/08/54/cb0854d3b88d836d4db535f6523b4c95.jpg"/></a>
  </figure>

     <figure>
      <a href="/contatos"><img class="card-img-left"  src="https://i.pinimg.com/564x/cb/08/54/cb0854d3b88d836d4db535f6523b4c95.jpg"/></a>
      <a href="/contatos"><img class="card-img-left"  src="https://i.pinimg.com/564x/cb/08/54/cb0854d3b88d836d4db535f6523b4c95.jpg"/></a>
      <a href="/contatos"><img class="card-img-right" src="https://i.pinimg.com/564x/cb/08/54/cb0854d3b88d836d4db535f6523b4c95.jpg"/></a>
     </figure>


<div class="card mb-3">
  <div class="card-body">
   <h4 class="card-title"><h2>THE IMPORTACE OF FASHION FOR SOCIETY</h2></h4>
    <p class="card-text">Clothing is an essential part of people’s lives. They offer many health and beauty benefits. Fashion is crucial to history because it sets the tone for how people present themselves in every era. Everyone lives through fashion, sometimes by choice and sometimes because of societal rules. 
      Clothing is a method of self-expression that allows people to be their true selves. From custom-made garments to plain T-shirts, there is no end to how one can express oneself. New fabrics and applications develop daily, opening doors to new and better ideas.
    </p>
  </div>
  </div>
   
  </div>
  </div>
            
</div>

<footer>
	<p class="paragrafo">&copy; 2023 - Todos os direitos reservados</p>
	<p class="paragrafo">Entre em contato pelo e-mail: contato@exemplo.com</p>
	<nav>
		<ul class="rodape">
			<li><a href="#">Termos de uso</a></li>
			<li><a href="#">Política de privacidade</a></li>
			<li><a href="#">Sobre nós</a></li>
		</ul>
	</nav>
</footer>

<br>
</body>
</html>