<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h2>ART EXPOSITION</h2>

<div class="conteiner1">

  <img src="https://s2.glbimg.com/1-2w1G1tzCos8rZODN9Ng77BqVU=/smart/e.glbimg.com/og/ed/f/original/2020/05/27/pinturas-famosas-criacao-de-adao-capela-sistina-roma-vaticano-italia.png" alt="descrição da imagem" style="width:100%">
</div>
</div>
<br>

<div class="card mb-3">
  <div class="card-body">
   <h4 class="card-title"><h2>A Importância dos Livros para a Sociedade</h2></h4>
    <p class="card-text">O livro é de fundamental importância para o desenvolvimento das sociedades e para o crescimento intelectual dos indivíduos. É ele que permite ao ser humano registrar fatos importantes da sua história e repassar tais fatos às sociedades posteriores, atuando como vetor do conhecimento. É notável o avanço intelectual que o ser humano teve após a invenção da escrita. Foi a partir dela que ele pôde catalogar e compartilhar as suas descobertas, dando origem ao que chamamos de livro.
      Sendo assim, o livro é o principal responsável pela sociedade que se tem hoje.
    </p>
      <figure>
        <img class="card-img-top" src="https://i.pinimg.com/564x/e9/40/85/e94085ba54946d76a3ef3b9cd076abf7.jpg">
         </figure>
  <!--     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
  </div>
  </div>
   
  </div>
  </div>
            
</div>
<br>
          <h1>Não perca nossos livros em promoção!</h1>
          <div class="container">
            <div class="row"><figure><a href="/contatos"><img class="container" src="https://m.media-amazon.com/images/I/91KL76cFphL._SY466_.jpg"></a></figure></div> 
            <div class="row"><figure><img class="container" src="https://m.media-amazon.com/images/I/61FVzMfEA8L._SY466_.jpg"></figure></div></div> 
            <div class="row"><figure><img class="container" src="https://m.media-amazon.com/images/I/91yEPgRcELL._SY466_.jpg"></figure></div></div> 
          </div>
</body>
</html>